---
import Layout from "../layouts/Layout.astro";
import Icons from "../components/Icons.astro";
import Link from "../components/link.astro";
import { Image } from 'astro:assets';
import { javascript, typescript, java, php, astro, react, tailwindcss, Express,
  nodejs, prisma, laravel, mysql, mongodb, docker, aws, git, github, postman, vite, photoshop, linux,
  proyecto1, proyecto2, proyecto3, proyecto4, email,
linkedin, American, Spain, vue, firebase
} from "../assets/lista.js";

import ListIcons from "../components/ListIcons.astro";
import Proyects from "../components/Proyects.astro";
---

<Layout title="Portafolio">
  <!-- Barra de navegación -->
  <nav class="flex justify-center h-14 items-center fixed backdrop-filter backdrop-blur-md left-0 w-full" >
    <Link name="Inicio" link="#home" />
    <!-- <Link name="Sobre mí" link="#aboutMe" />-->
    <Link name="Tecnologías" link="#tecnologias" />
    <Link name="Proyectos" link="#proyectos" />
    <Link name="Es" link="/portafolio-web" img={Spain} /> 
  </nav>

  <!-- Principal -->
  <main class='flex flex-col mb-10 text-xl justify-center items-center min-h-screen' id="home">
    <div class='text-center mt-16 text-9xl font-BadScript m-20 flex flex-row'>
      <div class='rounded-full bg-purple-800 py-10 px-5'>G</div>
      <div class='py-10'>eniuX</div>
    </div>

    <p class='font-Manrope text-center'>Tu <span class='text-yellow-300'>desarrollador web</span> de <span class='text-yellow-300'>confianza</span></p>
    <div class="flex flex-row items-center justify-center sm:items-start sm:justify-normal">
      <a target="_blank" href="/portafolio-web/cv/es.pdf" class="mr-4 my-4 px-12 py-2.5 bg-violet-800 hover:bg-violet-600 duration-150 transition text-center rounded-lg">
        CV (Español)
      </a>
      <a target="_blank" href="/portafolio-web/cv/en.pdf" class="ml-4 my-4 px-12 py-2.5 bg-violet-800 hover:bg-violet-600 transition duration-150 text-center rounded-lg">
        CV (Inglés)
      </a>

    </div>
    <div class="flex flex-col items-center pt-6 justify-center text-center w-full">
      <!-- Botones -->

      <!-- Contacto -->
      <ul class="flex flex-row items-center justify-center w-full flex-wrap">
        <a target="_blank" href="https://www.linkedin.com/in/jhoanjimenez">
          <Icons name="LinkedIn" link={linkedin} hover="" width={30} flex="flex-row" />
        </a>
        <a target="_blank" href="https://github.com/GeniuX-arch">
          <Icons name="GitHub" link={github} hover="" width={30} flex="flex-row" />
        </a>
        <a target="_blank" href="#">
          <Icons name="geniuh7@gmail.com" link={email} hover="Copiar" width={30} flex="flex-row" />
        </a>
      </ul>
    </div>
  </main>

  <!-- Sobre mí -->
  <!--
  <section class="text-center my-20 min-h-screen flex flex-col justify-center" id="aboutMe">
    <h1 class="text-2xl text-yellow-300">Sobre mí</h1>
    <div class="flex flex-row mt-12">
      <div class="w-1/2">
        <p>Desde muy joven, me ha encantado programar, gracias a lo cual he aprendido muchas cosas que podrían ser de gran utilidad para ti.</p>
      </div>
      <div class="flex flex-row flex-wrap h-12 w-1/2">
        <div class="flex flex-col w-2/12 m-3">
          <ListIcons list={[linux]} width={30} />
        </div>
      </div>
    </div>
  </section>
  -->
  <!-- Tecnologías -->
  <section class="text-center my-20 min-h-screen flex flex-col justify-center" id="tecnologias">
    <h1 class="text-4xl text-yellow-300">Tecnologías que sé usar</h1>
    <div class="flex flex-col mt-12">
      <div class="flex flex-row items-center mt-10">
        <h2 class="w-3/12">Lenguajes de programación</h2>
        <ListIcons list={[javascript, typescript, java, php]} name={['JavaScript', 'TypeScript', 'Java', 'PHP']} width={30} />
      </div>
      <div class="flex flex-row items-center mt-10">
        <h2 class="w-3/12">FrontEnd</h2>
        <ListIcons list={[astro, react, tailwindcss, vue]} name={['Astro', 'React', 'TailwindCSS', 'Vue']} width={30} />
      </div>
      <div class="flex flex-row items-center mt-10">
        <h2 class="w-3/12">BackEnd</h2>
        <ListIcons list={[Express, nodejs, prisma, laravel]} name={['Express', 'Node.js', 'Prisma', 'Laravel']} width={30} />
      </div>
      <div class="flex flex-row items-center mt-10">
        <h2 class="w-3/12">Bases de Datos</h2>
        <ListIcons list={[mysql, mongodb]} name={['MySQL', 'MongoDB']} width={30} />
      </div>
      <div class="flex flex-row items-center mt-10">
        <h2 class="w-3/12">Otras Tecnologías</h2>
        <ListIcons list={[docker, aws, git, github, postman, vite, photoshop, linux, firebase]} name={['Docker', 'AWS', 'Git', 'GitHub', 'Postman', 'Vite', 'Photoshop', 'Linux', 'Firebase']} width={30} />
      </div>
    </div>
  </section>

  <!-- Proyectos -->
  <section class="text-center my-20 min-h-screen flex flex-col justify-center" id="proyectos">
    <h1 class="text-4xl text-yellow-300">Proyectos</h1>
    <div class="lg:grid-cols-2 grid gap-5 my-10 grid-cols-1">
      <Proyects habilidades={["Arrastrar y Soltar", "Inicio de sesión", "Rutas seguras", "Gestión de estados"]} titulo="Administración de horarios Front-end (Beta) | 2024" img={proyecto1} tecnologias={[git, github, react, vite, tailwindcss, typescript, firebase]} des="Proyecto Front-end con el objetivo de facilitar la creación de horarios para las clases de las Unidades Tecnológicas de Santander." extra="https://github.com/GeniuX-arch/proyecto-grado-frontend" />
      <Proyects habilidades={["Manejo de los ORMs de laravel y nodejs", "Diseño de base de datos", "Creación de APIs"]} titulo="Administración de horarios Back-end (Beta) | 2024" img={proyecto2} tecnologias={[git, github, nodejs, Express, postman, mysql, typescript]} des="Proyecto Back-end necesario para la administración de horarios, clases, etc., de las Unidades Tecnológicas de Santander." extra="https://github.com/GeniuX-arch/proyecto-grado-backend" />
      <Proyects habilidades={["Gestión de estados", "Rutas seguras", "Manejo de Validaciones"]} titulo="Administración de Tareas Front-end | 2023" img={proyecto3} tecnologias={[git, github, react, vite, tailwindcss, javascript]} des="Página para organizar las tareas del día a día, en un entorno empresarial" extra="https://github.com/GeniuX-arch/paginaweb-administrativa" />
      <Proyects habilidades={["Implementación de CRUD", "Manejo de Validaciones", "Uso correcto de formularios", "Diseño", "Creación de APIs"]} titulo="Crud con PHP | 2022" img={proyecto4} tecnologias={[git, github, php, tailwindcss, mysql]} des="Este proyecto trata de la creación de un CRUD en php, Tiene validación de campos, redirecciones, etc. Con una base de datos mysql" extra="https://github.com/GeniuX-arch/crud-php" />
    </div>
  </section>
</Layout>

<style>
  @import url('https://fonts.googleapis.com/css2?family=Bad+Script&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Manrope&display=swap');
</style>
<script>
  document.addEventListener('DOMContentLoaded', () => {
    const scrollToElement = (element, duration) => {
      const start = window.scrollY;
      const end = element.getBoundingClientRect().top;
      const startTime = performance.now();

      const easeInOutCubic = (t) => {
        return t < 0.5 ? 4 * t * t * t : 1 - Math.pow(-2 * t + 2, 3) / 2;
      };

      const animateScroll = (currentTime) => {
        const timeElapsed = currentTime - startTime;
        const progress = Math.min(timeElapsed / duration, 1);
        const ease = easeInOutCubic(progress);
        window.scrollTo(0, start + end * ease);

        if (timeElapsed < duration) {
          requestAnimationFrame(animateScroll);
        }
      };

      requestAnimationFrame(animateScroll);
    };

    document.querySelectorAll('a[href^="#"]').forEach(anchor => {
      anchor.addEventListener('click', function (e) {
        e.preventDefault();
        const target = document.querySelector(this.getAttribute('href'));
        if (target) {
          scrollToElement(target, 1000); // 1000 ms = 1 segundo
        }
      });
    });
  });
</script>
