---
import Link from "./link.astro"
import Icons from "./Icons.astro"
import ListIcons from "./ListIcons.astro"
interface Props{
    titulo:string;
    img:string;
    des:string;
    tecnologias:string[];
    extra:string;
    
}
const {titulo, img, des, tecnologias, extra} = Astro.props;
---

<!-- proyectos -->
<div class="w-full flex flex-col justify-center items-center rounded-md bg-slate-950 ">
    <div class="w-full m-2 text-2xl">
        <p>{titulo}</p>
    </div>
    <div class="w-full h-64 bg-white">
        <img src={img} alt="">
    </div>
    <ListIcons list={tecnologias} />
    <div class="w-full">
        <p>{des}</p>
        <ul>
            <a href={extra} >
                <Icons name="Github" link=`../../public/github.svg` hover=""/>
            </a>
        </ul>
    </div>
</div>