---
import Link from "./link.astro"
import Icons from "./Icons.astro"
import ListIcons from "./ListIcons.astro"
import linkedin from "../../public/linkedin.svg"
import { github } from "../assets/lista"
import { Image } from "astro:assets"

interface Props{
    titulo:string;
    img:ImageMetadata;
    des:string;
    tecnologias:ImageMetadata[];
    extra:string;
    
}
const {titulo, img, des, tecnologias, extra} = Astro.props;
---

<!-- proyectos -->
<div class="w-full flex flex-col justify-center items-center rounded-md bg-slate-950 ">
    <div class="w-full m-2 text-2xl">
        <p>{titulo}</p>
    </div>
    <div class="w-full max-h-96 -white">
        <Image src={img} alt="">
    </div>
        <ListIcons list={tecnologias} width={20}/>
    <div class="w-full">
        <p>{des}</p>
        <ul>
            <a href={extra} >
                <Icons name="Ver codigo" link={github} hover="" width={20}/>
            </a>
        </ul>
    </div>
</div>